{% extends "maintemplate.html" %}

{% block content %}
<!-- Start of first page -->
<div data-role="page" id="mainpage" data-theme="b" data-content-theme="b">
    <div data-role="header">
        <h1>Home Automation System</h1>
        <a href="#settings" data-icon="gear" class="ui-btn-right">Einstellungen</a>
    </div>
    <div id="CollapsibleContent">
        <div id="mainmenue" data-role="servicemenuwidget" data-model="collapsible"></div>
        <!--<a href="#popupLogin" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="pop">Anmelden</a>-->

        <div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
            <form>
                <div style="padding:10px 20px;">
                    <h3>Anmelden</h3>
                    <label for="un" class="ui-hidden-accessible">Benutzername:</label>
                    <input type="text" name="user" id="un" value="" placeholder="Benutzername" data-theme="a">
                    <label for="pw" class="ui-hidden-accessible">Password:</label>
                    <input type="password" name="pass" id="pw" value="" placeholder="Passwort" data-theme="a">
                    <div id="loginMessage"></div>
                    <button class="ui-btn ui-corner ui-shadow ui-bnt-b ui-btn-icon-left ui-icon-check" id="LogonBtn">Anmelden</button>
                   
                </div>
            </form>'
        </div>'


                </div>
                <div data-role="footer" data-position="fixed">
                    <a href="/debug" target="_blank">debug</a>
                    <a href="#" onclick='$("#popupLogin").popup("open"); return false;'>Popup</a>
                    <h4>Page Footer</h4>

                </div>
        </div>
        <div data-role="page" id="settings" data-theme="b" data-content-theme="b">
            <div data-role="header">
                <a href="#mainpage" data-icon="home" class="ui-btn-left"></a>
                <h1>Home Automation System</h1>
            </div>
            <div id="settingscontent">
                <p>Einstellungen...(noch implementieren)</p>
            </div>

            <div data-role="footer" data-position="fixed">
                <h4>Page Footer</h4>

                <a href="/debug" target="_blank">debug</a>
            </div>

        </div>

        {% endblock %}

        {% block scripts %}
        {% include 'scripts_template.html' %}
        {% endblock %}
