<script src="/static/scripts/htmlhelper.js"></script>
<script src="/static/scripts/injector.js"></script>
<script src="/static/scripts/messagemanager.js"></script>
<script src="/static/scripts/jquery.gauge.js"></script>
<script src="/static/scripts/jquery.zgaugewidget.js"></script>
<script src="/static/scripts/jquery.servicemenuewidget.js"></script>
<script src="/static/scripts/room_assignment.js"></script>
<script>
    //$(document).on({
    //    "mousedown touchstart": function () {
    //        $(this).siblings("input").trigger("start");
    //    },
    //    "mouseup touchend": function () {
    //        $(this).siblings("input").trigger("stop");
    //    }
    //}, ".ui-slider");

    $(document).ready(function () {
        //$('input[data-type=range]').bind('change', function () {
        //    console.log("Slider changed");
        //});
        console.log("ready");
        //$("#popupLogin").popup("refresh");
        //$("#popupLogin").popup("open");
        });
</script>