<script src="/static/scripts/htmlhelper.js"></script>
<script src="/static/scripts/injector.js"></script>
<script src="/static/scripts/messagemanager.js"></script>
<script src="/static/scripts/jquery.gauge.js"></script>
<script src="/static/scripts/jquery.zgaugewidget.js"></script>
<script src="/static/scripts/jquery.servicemenuewidget.js"></script>
<script src="/static/scripts/viewmodels/viewmodelbase.js"></script>
<script src="/static/scripts/viewmodels/viewmodel_mapping.js"></script>
<script src="/static/scripts/viewmodels/viewmodel_mappingdetails.js"></script>
<script src="/static/scripts/viewmodels/viewmodel_item.js"></script>
<script>


    var mappingViewModel;
    var detailsViewModel
    $(document).ready(function () {
        mappingViewModel = Viewmodel_mapping("#mapping");
        detailsViewModel = Viewmodel_mappingdetails("#mappingdetail");
        itemViewModel = Viewmodel_Item("#itemdetail");

        console.log("ready");
        });
</script>