<script src="/static/scripts/htmlhelper.js"></script>
<script src="/static/scripts/injector.js"></script>
<script src="/static/scripts/messagemanager.js"></script>
<!--<script src="/static/scripts/collapsible.js"></script>-->
<script src="/static/scripts/jquery.gauge.js"></script>
<!--<script src="/static/scripts/pageManager.js"></script>-->
<script src="/static/scripts/jquery.servicemenuewidget.js"></script>
<script>
        $(document).ready(function () {

            //initCollapsiblePage();
            //$("#demo").gauge(50);
        });
</script>