{% extends "jsmobile.html" %}

{% block content %}
<script>
    var ws;
    $(document).ready(function () {
        doConnect();
        execJson();
        $("#BtnSendmessage").click(onButtonSendMesssage)
        console.log("ready() finished!");
    });

    function doConnect() {
        websocket = new WebSocket("ws://localhost:8000/");
        websocket.onopen = function (evt) { onOpen(evt) };
        websocket.onclose = function (evt) { onClose(evt) };
        websocket.onmessage = function (evt) { onMessage(evt) };
        websocket.onerror = function (evt) { onError(evt) };
    }

    function onButtonSendMesssage() {
        var msg = {
            "messagetype": "subscribe",
            "data": "gpio"
        }
        var str = JSON.stringify(msg);
        websocket.send(str);
    }

    function onOpen(evt) {
        writeToScreen("connected\n");
        document.myform.connectButton.disabled = true;
        document.myform.disconnectButton.disabled = false;
    }

    function writeToScreen(message)
    {
        document.myform.outputtext.value += message
        document.myform.outputtext.scrollTop = document.myform.outputtext.scrollHeight;
        console.log("write to screen: " + message);

    }

    function onClose(evt) {
        writeToScreen("disconnected\n");
        document.myform.connectButton.disabled = false;
        document.myform.disconnectButton.disabled = true;
    }

    function onMessage(evt) {
        writeToScreen("response: " + evt.data + '\n');
    }

    function onError(evt) {
        writeToScreen('error: ' + evt.data + '\n');

        websocket.close();

        document.myform.connectButton.disabled = false;
        document.myform.disconnectButton.disabled = true;

    }

    function sendText() {
        doSend(document.myform.inputtext.value);
    }

    function doSend(message) {
        writeToScreen("sent: " + message + '\n');
        websocket.send(message);
    }

    function clearText() {
        document.myform.outputtext.value = "";
    }

    function doDisconnect() {
        websocket.close();
    }

    function execJson() {
        var jqxhr = $.getJSON("/gpio", function () {
            console.log("success");
        })
            .done(function (data) {
                console.log("second success");
                console.log(data);
                var gpio = data["gpio"];
                createSwitches(gpio)
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    }

    function changeSlider() {
        console.log("Change Slider called");
        var formData = $(document.switchform);
        var data = JSON.stringify(formData.serializeArray());
        // Formulardaten an server übertragen
        var ajaxPost = $.post("/post_gpio", data)
        .done(function () {
            console.log("ChangeSlider done");
        })
        .fail(function () {
            console.log("ChangeSlider error");
        })
        .always(function () {
            console.log("Change slider finished!");
        });
    }

    function createSwitches(gpio) {
        console.log("createSwitches");
        var content = "";
        for (var port in gpio) {
            content += '<label for="' + gpio[port].name + '">' + gpio[port].label + ':</label>';
                content += '<select name="' + gpio[port].name + '" id="' + gpio[port].name + '" data-role="slider" onchange="changeSlider()">';
                if (gpio[port].value == "on") {
                    content += '<option value="off">Off</option>';
                    content += '<option selected value="on">On</option>';
                } else {
                    content += '<option selected value="off">Off</option>';
                    content += '<option value="on">On</option>';
                }
                content += '</select>';
        }

        $('#switchform').append(content);
        $('select').slider();
    }
</script>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<form name="switchform" id="switchform"></form>

<a href="#" name="BtnSendmessage"  id="BtnSendmessage" class="ui-btn ui-btn-inline ui-icon-delete ui-bnt.icon-left">Sendmessage</a>

<div id="output"></div>
<form name="myform">
    <p>
        <textarea name="outputtext" rows="20" cols="50"></textarea>
    </p>
    <p>
        <textarea name="inputtext" cols="50"></textarea>
    </p>
    <p>
        <textarea name="url" cols="50"></textarea>
    </p>
    <p>
        <input type="button" name=sendButton value="Send" onClick="sendText();">
        <input type="button" name=clearButton value="Clear" onClick="clearText();">
        <input type="button" name=disconnectButton value="Disconnect" onClick="doDisconnect();">
        <input type="button" name=connectButton value="Connect" onClick="doConnect();">
    </p>

</form>


{% endblock %}