<div data-role="page" id="itemdetail" data-theme="b" data-content-theme="b">
    <div data-role="header">
        <a href="mappingdetail" data-rel="back" data-icon="back" class="ui-btn-left">Zurück</a>
        <h1>Funktion - Details</h1>
    </div>

    <div id="itemdetailscontent">Item Details</div>


    <div data-role="footer" data-position="fixed">
        <a href="#" id="itemdetailremove" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left">Entfernen</a>
        <!--<div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li></li>
            </ul>
        </div>-->
    </div>

</div>