<div data-role="page" id="mappingdetail" data-theme="b" data-content-theme="b">
    <div data-role="header">
        <a href="#mapping" data-rel="back" data-icon="back" class="ui-btn-left">Zurück</a>
        <h1>Funktionsliste für Gruppe</h1>
    </div>

    <div id="detailscontent">
        <ul data-role="listview" id="mappingdetail-listview" data-inset="true" data-divider-theme="b">
            <li data-role="list-divider">Details</li>
            <li><a href="#item-detail">Funktion 1</a></li>
            <li><a href="#item-detail">Funktion 2</a></li>
            <li><a href="#item-detail">Funktion 3</a></li>
            <li><a href="#item-detail">Funktion 4</a></li>
        </ul>
    </div>


    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a href="#" data-icon="plus" id="mappingdetail_new_function">Neue Funktion</a></li>
                <li><a href="#" data-icon="check" id="mappingdetail_save">Speichern</a></li>
            </ul>
        </div>
    </div>
</div>