<div data-role="page" id="usermanagement" data-theme="b" data-content-theme="b">
    <div data-role="header">
        <a href="#settings" data-rel="back" data-icon="back" class="ui-btn-left">Zurück</a>
        <h1>Benutzerverwaltung</h1>
    </div>

    <div id="usermanagementcontent">Item Details</div>

    <div data-role="footer" data-position="fixed">
        <div data-role="navbar" data-iconpos="bottom">
            <ul>
                <li><a href="#" data-icon="plus" id="xbtn-new-room">Neuer Benutzer</a></li>
                <li><a href="#" data-icon="check" id="xbtn-save-assignment">Speichern</a></li>
            </ul>
        </div>
    </div>

</div>